body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./demo-car-01.webp'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.3); /* Transparent background */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* Adds a blur effect to the background */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #fff;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #2980b9;
}

/* button:hover {
    background-color: #0056b3;
} */


p{
    color: red;
}